:root {
  --color-bg: #101C29;       
  --color-primary: #2868C6;  
  --color-accent: #CBA2EA;   
  --color-text: #ffffff;     
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.biblioteca-container {
  background-color: var(--color-bg);
  color: var(--color-text);
  padding: 20px;
  border-radius: 8px;
}

.titulo {
  color: var(--color-primary);
  font-size: 2rem;
  margin-bottom: 10px;
}

.descripcion {
  color: var(--color-accent);
  font-size: 1.2rem;
}


.tarjeta-juego {
  background-color: var(--color-primary);
  color: var(--color-text);
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  width: 220px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  transition: transform 0.3s ease;
}

.tarjeta-juego:hover {
  transform: scale(1.05);
}

.imagen-juego {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 8px;
}

.titulo-juego {
  font-size: 1.2rem;
  margin: 10px 0 5px;
}

.genero-juego {
  font-size: 1rem;
  color: var(--color-accent);
}

.btn-detalles {
  background-color: var(--color-accent);
  color: var(--color-bg);
  border: none;
  padding: 8px 12px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
}

.btn-detalles:hover {
  background-color: var(--color-text);
  color: var(--color-primary);
}